/* Body */
@font-face {
    font-family: "Merriweather";
    font-weight: 400;
    src: url("fonts/Merriweather-Regular.ttf");
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: url("fonts/Lato-Bold.ttf");
    font-display: swap;
}

html,
body {
    scroll-behavior: smooth;
    font-family: 'Merriweather', serif;
    font-weight: 100;
    color: #000;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lato', sans-serif;
}

.h5 {
    font-family: sans-serif;
}

.b900 {
    font-weight: 900;
}

.b800 {
    font-weight: 800;
}

.btn {
    font-family: sans-serif;
    font-weight: 600;
}

.btn-trynow {
    background-color: #A1D2F8;
    padding: 12px 50px;
    width: 180px;
    color: #1E3B6F;
}

.btn-trynow:hover{
    transform: translateY(-5%);
    transition: all 0.5s ease-in-out;
    background-color: #A1D2F8;
    padding: 12px 50px;
    width: 180px;
    color: #1E3B6F;
}

.btn-courses {
    background-color: #1E3B6F;
    padding: 12px 10px;
    width: 180px;
    color: #A1D2F8;
}

.btn-courses:hover{
    transform: translateY(-5%);
    transition: all 0.5s ease;
    background-color: #1E3B6F;
    padding: 12px 10px;
    width: 180px;
    color: #A1D2F8;
}

.btn-talk {
    background-color: #ed4c78;
    color: white;
}

.btn-talk:hover{
    color: black;
    background-color: #ed4c78;
}

.chat-btn {
    background: #04E7BB;
    margin-right: 5px;
    padding: 8px;
    color: #000000;
}

.chat-band {
    background: #f2c618;
    line-height: 0;
}

.footer-btn-left-padding {
    margin-left: 0px;
}

.button {
    padding: 12px 25px;
    border-radius: 5px;
    border: 1px solid transparent;
}

.band {
    padding: 35px 0px 40px;
}

.bg-green {
    background-color: #049d83;
    color: white;
}

.bg-light-green {
    background-color: #eafafa;
}

.bg-dark-blue {
    background-color: #21427d;
}

.bg-dark-blue-50 {
    background: #29539b;
}

.bg-light-blue {
    background-color: rgba(55, 125, 255, 0.1);
}

.bg-light-pink {
    background-color: #fdedf1;
}

.bg-pink {
    background-color: #f2ccd5;
}


.alert-soft-primary,
.bg-soft-primary {
    color: #377dff;
    background-color: rgba(55, 125, 255, 0.1);
}

.text-light {
    opacity: 70%;
}

/* Navbar */
.nav {
    font-family: sans-serif;
    font-weight: 500;
}

.navbar {
    font-family: sans-serif;
    font-weight: 600;
}

.navbar-bg {
    background-color: #21427d;
    padding: 10px 8px;
    color: white;
}

.navbar-nav .dropdown-menu {
    position: static;
    background: #fce043;

}

.fw500 {
    font-weight: 500;
}

/* latest post */
.latest-post {
    padding: 10px 0px 7px;
    background-color: #C7E4FA;
    margin-top: 59px;
    font-family: 'Lato', sans-serif;
}

.latest-post-badge {
    background-color: #003BAD;
}

.latest-post-link {
    text-decoration: none;
    color: #000;

}

.lh40 {
    line-height: 47px;
}

.list-timings {
    list-style: none;
    padding-left: 0px;
}

/* bg pattern */
.bg-pattern {
    background: url(./../img/bg.svg) no-repeat;
}

/* Home page sections */
.transition-up:hover {
    transform: translateY(-10%);
    transition: all 0.5s ease-in-out;
}

.btn-soft-danger {
    color: #ed4c78;
    background-color: rgba(237, 76, 120, 0.1);
    border-color: transparent;
}

.btn-soft-danger:hover {
    color: white !important;
    background-color: #ed4c78;
    transform: translateY(-10%);
    transition: all 0.5s ease-in-out;
}

.btn-soft-success {
    color: #049d83;
    background-color: rgba(0, 201, 167, 0.1);
    border-color: transparent;
}

.btn-soft-success:hover {
    color: white !important;
    background-color: #049d83;
    transform: translateY(-10%);
    transition: all 0.5s ease-in-out;
}

.move1 {
    transform: translateX(300%);
}

.move2 {
    transform: translateX(200%);
}

.bg-soft-danger {
    background-color: rgba(237, 76, 120, 0.1);
    border-color: transparent;
}

.btn-danger {
    background-color: #ed4c78;
    color: white;
}

.btn-danger:hover {
    transform: translateY(-10%);
    transition: all 0.5s ease-in-out;
    background-color: #ed4c78;
}

.bg-soft-success {
    background-color: rgba(0, 201, 167, 0.1);
    border-color: transparent;
}

.btn-success {
    background-color: #049d83;
    color: white;
}

.btn-success:hover {
    transform: translateY(-10%);
    transition: all 0.5s ease;
    background-color: #049d83;
}

.btn-soft-dark {
    font-size: 14px;
    text-decoration: none;
    padding: 10px 20px;
    color: #1e2022;
    background-color: rgba(30, 32, 34, 0.1);
    border-color: transparent;
}

.btn-soft-dark:hover {
    background-color: #000;
    color: white;
}

.badge-soft-info {
    color: #09a5be;
    background-color: rgba(9, 165, 190, 0.1);
    text-decoration: none;
}

.badge-soft-info:hover {
    transition: ease-in;
    color: #fff;
    background-color: #377dff;
}

.px-lg-6 {
    padding: 0 4.5%;
}

.text-success-dark {
    color: #108c10;
}

/* Footer */
.test-bar-btn {
    float: right;
}

.test-bar-btn-one {
    background-color: #1E3B6F;
    color: #A1D2F8;
    border-radius: 25px;
}

.test-bar-btn-one:hover {
    transform: translateY(-3px);
    transition: all 0.5s ease-in-out;
    background-color: #1E3B6F;
    color: #A1D2F8;
}

.test-bar-btn-two {
    background-color: #A1D2F8;
    color: #1E3B6F;
    margin-right: 10px;
    border-radius: 25px;
}

.test-bar-btn-two:hover {
    transform: translateY(-3px);
    transition: all 0.5s ease-in-out;
    background-color: #A1D2F8;
}

.btn {
    font-family: sans-serif;
}

@media only screen and (max-width: 992px) {

    .container {
        max-width: 95%;
    }

    .test-bar-btn {
        float: left;
    }

    .test-bar-btn-two {
        margin-left: 10px;
    }

    .btn-trynow {
        padding: 12px 50px;
    }

    .btn-courses {
        padding: 12px 10px;
    }


}

@media only screen and (max-width: 768px) {

    .footer-btn-left-padding {
        margin-left: 10px;
    }

    .move3 {
        transform: translateX(150%);
    }

    .btn-trynow {
        padding: 12px 50px;
        width: 170px;
    }

    .btn-courses {
        padding: 12px 10px;
        width: 170px;
    }


}

@media only screen and (max-width: 576px) {

    .band {
        padding: 15px 0px 20px;
    }

    .btn-trynow {
        padding: 12px 20px;
        width: 130px;
    }

    .btn-courses {
        padding: 12px 10px;
        width: 140px;
    }

}

@media only screen and (max-width: 365px) {

    .navbar-brand svg {
        width: 150px;
    }

}

.btn-1 {
    margin-top: 30px;
    background-color: #f5f8ff; /* lighter background color */
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border-color: #ed4c78;
    border-width: 1px;
    color: #9b2e4e; /* darker foreground color */
    font-weight: 600;
}


.btn-1:hover {
    background-color: rgb(255, 90, 117);
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.btn-2 {
    margin-top: 30px;
    margin-left: 20px;
    background-color: #f5f8ff; /* lighter background color */
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border-color: #00c9a7;
    border-width: 1px;
    color: #007d6f; /* darker foreground color */
    font-weight: 600;
}

.btn-2:hover {
    background-color: #00c9a7;
    color: white;
    transition: background-color 0.3s ease;
}

.bg-soft-danger {
    background-color: rgba(237, 76, 120, 0.1);
    border-radius: 5px;
    text-align: center;
}

.btn-3:hover {
    color: blue;
    transition: 0.3s ease;
}

.sec-4 {
    background-image: linear-gradient(to top, #fdcbf1 0%, #fdcbf1 1%, #e6dee9 100%);
    padding-top: 10px;
    background-size: 300%;
    padding-inline: 5px;
}

.grid {
    grid-column-gap: 20px;
}

.effect1 {
    background-color: rgba(237, 76, 120, 0.1);
    border: none;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    width: auto;
    color: #ed4c78;
    font-weight: bold;
}

.effect1:hover {
    background-color: #ed4c78;
    color: white;
    border-radius: 5px;
}

#carouselExampleIndicators {
    max-width: 100px;
    /* adjust the width as needed */
    max-height: 100px;
    /* adjust the height as needed */
}

.carousel-item img {
    max-width: 50%;
    height: 50%;
}

.sec4:hover {
    transform: translateY(-10%);
}